name: CI

on:
  push:
    branches: [master, coursework]
  pull_request:
    branches: [master, coursework]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Poetry
        run: |
          pipx install poetry
          poetry config virtualenvs.in-project true

      - name: Install dependencies
        run: poetry install --with dev

      - name: Run Ruff (linting)
        run: poetry run ruff check .

      - name: Run Ruff (formatting check)
        run: poetry run ruff format --check .

      - name: Run MyPy
        run: poetry run mypy

      - name: Run tests with coverage
        run: poetry run pytest